<%- include('../partials/header') %>
<h2>Service Details</h2>
<section>
        <div>Service: <%= service.service%></div><br>
        <div>Service Description: <%= service.description%></div><br>
        <div>Price (USD): <%= service.price %></div><br>
        <img src="/<%= service.image %>" />
</section>

<br><br>
<h2>Customer Reviews of the Service</h2>
<form method="POST" action="/services/<%= service._id %>/reviews">
 <label>Name:</label>
 <textarea name="name"></textarea><br><br>
 <label>Review:</label>
 <textarea name="content"></textarea><br><br>
 <label>Rating:</label>
 <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
 </select><br><br>
<input type="submit" value="Add Review">
</form>

<% if (service.reviews.length) { %>
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Name</th>
              <th>Review</th>
              <th>Rating</th>
            </tr>
          </thead>
          <tbody>
            <% var total = 0 %>
            <% service.reviews.forEach(function(r) { %>
              <% total += r.rating %>
              <tr>
                <td><%= r.createdAt.toLocaleDateString() %></td>
                <td><%= r.name %></td>
                <td><%= r.content %></td>
                <td><%= r.rating %></td>
              </tr>
            <% }); %>
            <tr>
              <td colspan="2"></td>
              <td><strong><%= (total / movie.reviews.length).toFixed(1) %></strong></td>
            </tr>
          </tbody>
        </table>
        <% } else { %>
        <h5>No Reviews Yet</h5>
        <% } %>



<%- include('../partials/footer') %>





