<%- include('../partials/header') %>
<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex mr-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper">More Details on</span>
            <span class="section-heading-lower">This Service</span>
          </h2>
        </div>
      </div>
      <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="img/products-02.jpg" alt="">
      <div class="product-item-description d-flex ml-auto">
        <div class="bg-faded p-5 rounded">
          <div>Service: <%= service.service%></div><br>
          <div>Service Description: <%= service.description%></div><br>
          <div>Price (USD): <%= service.price %></div><br>
          <img src="/<%= service.image %>" />
        </div>
      </div>
    </div>
  </div>
</section>

<br><br>
<h2 id="serviceDetails">Customer Reviews of the Service</h2>
<h3>Please write a review below:</h3>
<form method="POST" action="/services/<%= service._id %>/reviews">
 <label>Name:</label>
 <textarea name="name"></textarea><br><br>
 <label>Review:</label>
 <textarea name="content"></textarea><br><br>
 <label>Rating:</label>
 <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
 </select><br><br>
<input type="submit" value="Add Review">
</form><br><br>


<h3>Previous Reviews</h3>
<% if (service.reviews.length) { %>
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Name</th>
              <th>Review</th>
              <th>Rating</th>
            </tr>
          </thead>
          <tbody>
            <% var total = 0 %>
            <% service.reviews.forEach(function(r) { %>
              <% total += r.rating %>
              <tr>
                <td><%= r.createdAt.toLocaleDateString() %></td>
                <td><%= r.name %></td>
                <td><%= r.content %></td>
                <td><%= r.rating %></td>
                <td>
                  <a id="update" href="/services/<%= service._id %>/reviews/<%= r._id %>/edit">Update</a>
                </td>
                <td>
                    <form action="/services/<%= service._id %>/reviews/<%= r._id %>?_method=DELETE" method="POST">
                      <input id="deleteInput" type="submit" value="Delete">
                    </form>      
                </td>
              </tr>
            <% }); %>
          </tbody>
        </table>
        <% } else { %>
        <h5>No Customer Reviews Yet</h5>
        <% } %>

<%- include('../partials/footer') %>

