<%- include('../partials/header') %>
<h2>Service Details</h2>
<section>
        <div>Service: <%= service.service%></div><br>
        <div>Service Description: <%= service.description%></div><br>
        <div>Price (USD): <%= service.price %></div><br>
        <img src="/<%= service.image %>" />
</section>

<%- include('../partials/footer') %>





